{% load static %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/logo1.svg' %}" type="image/x-icon">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>